*{
    font-family: Helvetica, sans-serif;
}

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
}

#navTop {
    height: 75px;
    width: 100%;
    background-color: darkgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navTop div{
    width: 15%;
    display: flex;
    justify-content: space-evenly;
}

#navTop button{
    margin-right: 1%;
}

#navTop h1{
    margin-left: 1%;
}

div#form {
    /* display: flex; */
    justify-content: center;
    width: 60%;
    margin-left: 20%;
    display: none;
}

#form form,
#form form div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightcyan;
}

form * {
    text-align: center;
    margin: 2px;
}

#logInBtn {
    width: 50%;
}

div {
    /* border: red solid 1px; */
}

#leftSideNav {
    background-color: transparent;

}

h1,
h2,
p {
    margin: 0;
    padding: 5px;
}

#businessLogIn{
    display: none;
}

#articleContainer{
    display: flex;
    justify-content: center;
    width: 60%;
    margin-left: 20%;
    background-color: transparent;
}

article{
    width: 30%;
    aspect-ratio: 1.5/1;
    margin: 10px;
    border: 2px black solid;
    border-radius: 20px;
    background-color: azure;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo{
    width: 100px;
}

#studentAdd{
    width: 50%;
    height: 30vh;
    margin-inline: auto;
    margin-top: 5vh;
    background-color: azure;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 5px solid darkgray;
    border-radius: 2vw;
}

#studentAdd p {
    padding: 3%;
    border-radius: 0.5vw;
    border: 1px solid darkgray;
    background-color: rgb(243, 243, 243);
    font-size: 100%;
}

.profile{
    border-radius: 0.5vw;
    border: 3px solid lightgray;
    padding: 1% 6%;
    display: none;
}

#addArticle{
    margin-inline: auto;
    width: 30%;
    text-align: center;
}

#addArticle form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#addArticle form input{
    width: 50%;
}